# Web Framework
fastapi
uvicorn[standard]
python-multipart



# Deep Learning
torch
transformers
numpy

# Text-to-Speech
gTTS
groq



# Database
supabase

# Configuration
python-dotenv

# Type hints
pydantic
